configure
# delete existing configuration
# --------------------------------
delete system host-name
delete system name-server
delete system services
delete system syslog
delete system max-configurations-on-flash
delete system max-configuration-rollbacks
delete security
delete interfaces
delete protocols
delete vlans

# set new config
# --------------------------------
set system host-name srx
set system name-server 208.67.222.222
set system name-server 208.67.220.220
set system login user 9admin full-name 927_admin
set system login user 9admin uid 2002
set system login user 9admin class super-user
set system services ssh protocol-version v2
set system services telnet
set system services xnm-clear-text
set system services netconf ssh
set system services web-management http interface vlan.0
set system services web-management https system-generated-certificate
set system services web-management https interface vlan.0
set system services dhcp router 10.1.0.1
set system services dhcp pool 10.1.0.0/24 address-range low 10.1.0.100
set system services dhcp pool 10.1.0.0/24 address-range high 10.1.0.150
set system services dhcp pool 10.1.0.0/24 name-server 192.168.1.1
set system services dhcp pool 10.1.0.0/24 router 10.1.0.1
set system services dhcp propagate-settings ge-0/0/0.0
set system syslog archive size 100k
set system syslog archive files 3
set system syslog user * any emergency
set system syslog host 10.1.0.11 any info
set system syslog file messages any critical
set system syslog file messages authorization info
set system syslog file interactive-commands interactive-commands error
set system syslog source-address 10.1.0.1
set system max-configurations-on-flash 5
set system max-configuration-rollbacks 5
set system license autoupdate url https://ae1.juniper.net/junos/key_retrieval
set chassis aggregated-devices ethernet device-count 1
set security address-book global address WHT_VMH-01 10.1.2.10/32
set security address-book global address BASTION 10.1.253.10/32
set security screen ids-option untrust-screen icmp ping-death
set security screen ids-option untrust-screen ip source-route-option
set security screen ids-option untrust-screen ip tear-drop
set security screen ids-option untrust-screen tcp syn-flood alarm-threshold 1024
set security screen ids-option untrust-screen tcp syn-flood attack-threshold 200
set security screen ids-option untrust-screen tcp syn-flood source-threshold 1024
set security screen ids-option untrust-screen tcp syn-flood destination-threshold 2048
set security screen ids-option untrust-screen tcp syn-flood timeout 20
set security screen ids-option untrust-screen tcp land
set security nat source rule-set WHT_ACC-WAN from zone WHT_ACC-BASTION
set security nat source rule-set WHT_ACC-WAN from zone WHT_ACC-SVR
set security nat source rule-set WHT_ACC-WAN from zone WHT_MGMT-VMH
set security nat source rule-set WHT_ACC-WAN to zone NAT
set security nat source rule-set WHT_ACC-WAN rule WHT_ACC-RULE match source-address 0.0.0.0/0
set security nat source rule-set WHT_ACC-WAN rule WHT_ACC-RULE match destination-address 0.0.0.0/0
set security nat source rule-set WHT_ACC-WAN rule WHT_ACC-RULE then source-nat interface
set security nat destination pool PROXMOX-SSH address 10.1.2.10/32
set security nat destination pool PROXMOX-SSH address port 22
set security nat destination pool PROXMOX-TLS address 10.1.2.10/32
set security nat destination pool PROXMOX-TLS address port 8006
set security nat destination pool BASTION-SSH address 10.1.253.10/32
set security nat destination pool BASTION-SSH address port 22
set security nat destination pool NMS-WEB address 10.1.0.13/32
set security nat destination pool NMS-WEB address port 8000
set security nat destination pool PIPELINE-WEB address 10.1.0.14/32
set security nat destination pool PIPELINE-WEB address port 8080
set security nat destination pool PIPELINE-AGENT address 10.1.0.14/32
set security nat destination pool PIPELINE-AGENT address port 50000
set security nat destination rule-set DNAT from zone NAT
set security nat destination rule-set DNAT rule PROXMOX-SSH match destination-address 192.168.1.150/32
set security nat destination rule-set DNAT rule PROXMOX-SSH match destination-port 2222
set security nat destination rule-set DNAT rule PROXMOX-SSH then destination-nat pool PROXMOX-SSH
set security nat destination rule-set DNAT rule PROXMOX-TLS match destination-address 192.168.1.150/32
set security nat destination rule-set DNAT rule PROXMOX-TLS match destination-port 8006
set security nat destination rule-set DNAT rule PROXMOX-TLS then destination-nat pool PROXMOX-TLS
set security nat destination rule-set DNAT rule BASTION-SSH match destination-address 192.168.1.150/32
set security nat destination rule-set DNAT rule BASTION-SSH match destination-port 2200
set security nat destination rule-set DNAT rule BASTION-SSH then destination-nat pool BASTION-SSH
set security nat destination rule-set DNAT rule NMS-WEB match destination-address 192.168.1.150/32
set security nat destination rule-set DNAT rule NMS-WEB match destination-port 8000
set security nat destination rule-set DNAT rule NMS-WEB then destination-nat pool NMS-WEB
set security nat destination rule-set DNAT rule PIPELINE-WEB match destination-address 192.168.1.150/32
set security nat destination rule-set DNAT rule PIPELINE-WEB match destination-port 8080
set security nat destination rule-set DNAT rule PIPELINE-WEB then destination-nat pool PIPELINE-WEB
set security nat destination rule-set DNAT rule PIPELINE-AGENT match destination-address 192.168.1.150/32
set security nat destination rule-set DNAT rule PIPELINE-AGENT match destination-port 50000
set security nat destination rule-set DNAT rule PIPELINE-AGENT then destination-nat pool PIPELINE-AGENT
set security policies from-zone WHT_ACC-SVR to-zone NAT policy WHT_ACC-WAN match source-address any
set security policies from-zone WHT_ACC-SVR to-zone NAT policy WHT_ACC-WAN match destination-address any
set security policies from-zone WHT_ACC-SVR to-zone NAT policy WHT_ACC-WAN match application junos-icmp-ping
set security policies from-zone WHT_ACC-SVR to-zone NAT policy WHT_ACC-WAN match application junos-http
set security policies from-zone WHT_ACC-SVR to-zone NAT policy WHT_ACC-WAN match application junos-https
set security policies from-zone WHT_ACC-SVR to-zone NAT policy WHT_ACC-WAN match application junos-ping
set security policies from-zone WHT_ACC-SVR to-zone NAT policy WHT_ACC-WAN match application junos-dns-tcp
set security policies from-zone WHT_ACC-SVR to-zone NAT policy WHT_ACC-WAN match application junos-dns-udp
set security policies from-zone WHT_ACC-SVR to-zone NAT policy WHT_ACC-WAN then permit
set security policies from-zone NAT to-zone WHT_MGMT-VMH policy PROXMOX-NAT match source-address any
set security policies from-zone NAT to-zone WHT_MGMT-VMH policy PROXMOX-NAT match destination-address WHT_VMH-01
set security policies from-zone NAT to-zone WHT_MGMT-VMH policy PROXMOX-NAT match application any
set security policies from-zone NAT to-zone WHT_MGMT-VMH policy PROXMOX-NAT then permit
set security policies from-zone WHT_MGMT-VMH to-zone NAT policy WHT_ACC-WAN match source-address any
set security policies from-zone WHT_MGMT-VMH to-zone NAT policy WHT_ACC-WAN match destination-address any
set security policies from-zone WHT_MGMT-VMH to-zone NAT policy WHT_ACC-WAN match application junos-icmp-ping
set security policies from-zone WHT_MGMT-VMH to-zone NAT policy WHT_ACC-WAN match application junos-http
set security policies from-zone WHT_MGMT-VMH to-zone NAT policy WHT_ACC-WAN match application junos-https
set security policies from-zone WHT_MGMT-VMH to-zone NAT policy WHT_ACC-WAN match application junos-ping
set security policies from-zone WHT_MGMT-VMH to-zone NAT policy WHT_ACC-WAN match application junos-dns-tcp
set security policies from-zone WHT_MGMT-VMH to-zone NAT policy WHT_ACC-WAN match application junos-dns-udp
set security policies from-zone WHT_MGMT-VMH to-zone NAT policy WHT_ACC-WAN then permit
set security policies from-zone WHT_MGMT-VMH to-zone WHT_ACC-SVR policy SYSLOG match source-address any
set security policies from-zone WHT_MGMT-VMH to-zone WHT_ACC-SVR policy SYSLOG match destination-address any
set security policies from-zone WHT_MGMT-VMH to-zone WHT_ACC-SVR policy SYSLOG match application junos-syslog
set security policies from-zone WHT_MGMT-VMH to-zone WHT_ACC-SVR policy SYSLOG then permit
set security policies from-zone NAT to-zone WHT_ACC-BASTION policy BASTION match source-address any
set security policies from-zone NAT to-zone WHT_ACC-BASTION policy BASTION match destination-address any
set security policies from-zone NAT to-zone WHT_ACC-BASTION policy BASTION match application any
set security policies from-zone NAT to-zone WHT_ACC-BASTION policy BASTION then permit
set security policies from-zone WHT_ACC-BASTION to-zone WHT_ACC-SVR policy SYSLOG match source-address any
set security policies from-zone WHT_ACC-BASTION to-zone WHT_ACC-SVR policy SYSLOG match destination-address any
set security policies from-zone WHT_ACC-BASTION to-zone WHT_ACC-SVR policy SYSLOG match application any
set security policies from-zone WHT_ACC-BASTION to-zone WHT_ACC-SVR policy SYSLOG then permit
set security policies from-zone WHT_ACC-SVR to-zone WHT_ACC-BASTION policy SYSLOG match source-address any
set security policies from-zone WHT_ACC-SVR to-zone WHT_ACC-BASTION policy SYSLOG match destination-address any
set security policies from-zone WHT_ACC-SVR to-zone WHT_ACC-BASTION policy SYSLOG match application any
set security policies from-zone WHT_ACC-SVR to-zone WHT_ACC-BASTION policy SYSLOG then permit
set security policies from-zone WHT_ACC-BASTION to-zone NAT policy SSH match source-address any
set security policies from-zone WHT_ACC-BASTION to-zone NAT policy SSH match destination-address any
set security policies from-zone WHT_ACC-BASTION to-zone NAT policy SSH match application any
set security policies from-zone WHT_ACC-BASTION to-zone NAT policy SSH then permit
set security policies from-zone WHT_MGMT-NET to-zone WHT_ACC-BASTION policy ssh match source-address any
set security policies from-zone WHT_MGMT-NET to-zone WHT_ACC-BASTION policy ssh match destination-address any
set security policies from-zone WHT_MGMT-NET to-zone WHT_ACC-BASTION policy ssh match application any
set security policies from-zone WHT_MGMT-NET to-zone WHT_ACC-BASTION policy ssh then permit
set security policies from-zone WHT_ACC-BASTION to-zone WHT_MGMT-NET policy ssh match source-address any
set security policies from-zone WHT_ACC-BASTION to-zone WHT_MGMT-NET policy ssh match destination-address any
set security policies from-zone WHT_ACC-BASTION to-zone WHT_MGMT-NET policy ssh match application any
set security policies from-zone WHT_ACC-BASTION to-zone WHT_MGMT-NET policy ssh then permit
set security policies from-zone WHT_ACC-BASTION to-zone WHT_MGMT-VMH policy SSH match source-address any
set security policies from-zone WHT_ACC-BASTION to-zone WHT_MGMT-VMH policy SSH match destination-address any
set security policies from-zone WHT_ACC-BASTION to-zone WHT_MGMT-VMH policy SSH match application any
set security policies from-zone WHT_ACC-BASTION to-zone WHT_MGMT-VMH policy SSH then permit
set security policies from-zone WHT_MGMT-VMH to-zone WHT_ACC-BASTION policy SSH match source-address any
set security policies from-zone WHT_MGMT-VMH to-zone WHT_ACC-BASTION policy SSH match destination-address any
set security policies from-zone WHT_MGMT-VMH to-zone WHT_ACC-BASTION policy SSH match application any
set security policies from-zone WHT_MGMT-VMH to-zone WHT_ACC-BASTION policy SSH then permit
set security policies from-zone NAT to-zone WHT_ACC-SVR policy NMS match source-address any
set security policies from-zone NAT to-zone WHT_ACC-SVR policy NMS match destination-address any
set security policies from-zone NAT to-zone WHT_ACC-SVR policy NMS match application any
set security policies from-zone NAT to-zone WHT_ACC-SVR policy NMS then permit
set security policies from-zone WHT_ACC-SVR to-zone WHT_MGMT-NET policy SNMP match source-address any
set security policies from-zone WHT_ACC-SVR to-zone WHT_MGMT-NET policy SNMP match destination-address any
set security policies from-zone WHT_ACC-SVR to-zone WHT_MGMT-NET policy SNMP match application any
set security policies from-zone WHT_ACC-SVR to-zone WHT_MGMT-NET policy SNMP then permit
set security policies from-zone WHT_ACC-SVR to-zone WHT_MGMT-VMH policy PIPELINE match source-address any
set security policies from-zone WHT_ACC-SVR to-zone WHT_MGMT-VMH policy PIPELINE match destination-address any
set security policies from-zone WHT_ACC-SVR to-zone WHT_MGMT-VMH policy PIPELINE match application any
set security policies from-zone WHT_ACC-SVR to-zone WHT_MGMT-VMH policy PIPELINE then permit
set security zones security-zone OOB tcp-rst
set security zones security-zone NAT tcp-rst
set security zones security-zone NAT interfaces ge-0/0/0.0 host-inbound-traffic system-services ping
set security zones security-zone NAT interfaces ge-0/0/0.0 host-inbound-traffic system-services ssh
set security zones security-zone WHT_ACC-SVR tcp-rst
set security zones security-zone WHT_ACC-SVR interfaces vlan.100 host-inbound-traffic system-services ping
set security zones security-zone WHT_ACC-SVR interfaces vlan.100 host-inbound-traffic system-services dhcp
set security zones security-zone WHT_MGMT-NET tcp-rst
set security zones security-zone WHT_MGMT-NET interfaces vlan.199 host-inbound-traffic system-services ping
set security zones security-zone WHT_MGMT-NET interfaces vlan.199 host-inbound-traffic system-services ssh
set security zones security-zone WHT_MGMT-NET interfaces vlan.199 host-inbound-traffic system-services snmp
set security zones security-zone WHT_MGMT-VMH tcp-rst
set security zones security-zone WHT_MGMT-VMH interfaces vlan.102 host-inbound-traffic system-services ping
set security zones security-zone WHT_MGMT-VMH interfaces ae0.0
set security zones security-zone WHT_ACC-BASTION tcp-rst
set security zones security-zone WHT_ACC-BASTION interfaces vlan.198 host-inbound-traffic system-services ping
set interfaces ge-0/0/0 unit 0 family inet address 192.168.1.150/24
set interfaces ge-0/0/4 description "ae0 -> ex-ae0"
set interfaces ge-0/0/4 gigether-options 802.3ad ae0
set interfaces ge-0/0/5 description "ae0 -> ex-ae0"
set interfaces ge-0/0/5 gigether-options 802.3ad ae0
set interfaces ae0 description "ae0 -> ex-ae0"
set interfaces ae0 aggregated-ether-options lacp active
set interfaces ae0 unit 0 family ethernet-switching port-mode trunk
set interfaces ae0 unit 0 family ethernet-switching vlan members wht_acc-srv
set interfaces ae0 unit 0 family ethernet-switching vlan members wht_mgmt-net
set interfaces ae0 unit 0 family ethernet-switching vlan members wht_mgmt-vmh
set interfaces ae0 unit 0 family ethernet-switching vlan members wht_acc-bastion
set interfaces vlan unit 100 family inet address 10.1.0.1/24
set interfaces vlan unit 102 family inet address 10.1.2.1/24
set interfaces vlan unit 198 family inet address 10.1.253.1/24
set interfaces vlan unit 199 family inet address 10.1.254.1/24
set routing-options static route 0.0.0.0/0 next-hop 192.168.1.1
set protocols stp
set vlans wht_acc-bastion vlan-id 198
set vlans wht_acc-bastion l3-interface vlan.198
set vlans wht_acc-srv vlan-id 100
set vlans wht_acc-srv l3-interface vlan.100
set vlans wht_mgmt-net vlan-id 199
set vlans wht_mgmt-net l3-interface vlan.199
set vlans wht_mgmt-vmh vlan-id 102
set vlans wht_mgmt-vmh l3-interface vlan.102


# commit
# --------------------------------
commit confirmed
